/* This file is for your main application css. */

@import "~milligram/dist/milligram";

button {
   font-size: 40px;
   font-weight: 350;
   text-align: center;
   border-radius: 8px;
   height: 70px;
   width: 170px;
}

#restart {
   font-size: 20px;
   font-weight: 350;
   text-align: center;
   height: 60px;
   width: 140px;
   
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.card{
   color: black;
   
}


div {
   display:block;
}

.row {
   flex-wrap: wrap;
   text-align: left; 
}

#score {
   
   display: flex;
}

#restart{
   float: right;
  
 
   display: flex;
}


